.c1{
	height:100%;
	background:black;
	
	color:white;
}
.c2{
	height:100%;
	
	
	background:olive;
	
}
.c3{
	height:100%;
	
	
	background:#0ba16c;
}
.c4{
	color:white;
	height:100%;
	background:black;
	
	
}
